<div class="container lodash-content">
  <div style="font-size: 8px; color: #444">** lodash component **</div>
  <div class="row">
    <div class="col-md-4 col-xs-12">
      <%= image %>
    </div>
    <div class="col-md-8 col-xs-12">
      <h3>
        <%= title %>
      </h3>
      <div className='rte'>
        <%= text %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-xs-12">
      <div class="placeholder">
        <%= placeholders.leftColumn %>
      </div>
    </div>
    <div class="col-md-6 col-xs-12">
      <div class="placeholder">
        <%= placeholders.rightColumn %>
      </div>
    </div>
  </div>
</div>
