<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="Sitecore.Js.Presentation.Pipelines.InitializeJsContext, Sitecore.Js.Presentation">
          <Config type="Sitecore.Js.Presentation.Configuration.JsEngineManagerConfiguration, Sitecore.Js.Presentation">
            <StartEngines>10</StartEngines>
            <MaxEngines>25</MaxEngines>
            <MaxUsagesPerEngine>1000000</MaxUsagesPerEngine>
            <Modules hint="list:AddModule">
              <!-- <Module>/path/to/js/file.js</Module> -->
            </Modules>
          </Config>
        </processor>
      </initialize>
    </pipelines>
  </sitecore>
</configuration>