.lodash-content {
  border: 1px dashed #1A9CB0;
  background-color: rgba( 57, 194, 215, 0.15);

  .placeholder {
    margin: 5px;
    padding: 5px;
    border: 3px dotted red;
    background-color: rgba( 57, 194, 215, 0.15);
  }
}

