@using Sitecore.Js.Presentation.Mvc
@{
    Layout = null;
}

<!doctype html>
<html lang="en">

<head>
    <title>@Html.Sitecore().Field("Title")</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/dist/assets/vendor.css">
    <link rel="stylesheet" href="~/dist/assets/common.css">
</head>

<body>
<div>
    @Html.RenderComponent("common__ext.header", new { })
</div>
<div>
    @Html.Sitecore().Placeholder("content")
</div>

<!-- Load all required scripts (React + the site's scripts) -->
<script type="text/javascript" src="~/dist/assets/shared.js"></script>
<script type="text/javascript" src="~/dist/assets/vendor.js"></script>
<script type="text/javascript" src="~/dist/assets/common.js"></script>
<!-- Render the code to initialise the component -->
@Html.RenderScripts()
</body>

</html>